@model FSE.Assignment20.MVC.Core.Login

<div class="container width-500">
    <h2>Welcome to Twitter Clone</h2>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>

        <div class="panel-body">
            <div class="container">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-1" })
                        @Html.EditorFor(model => model.Username,
                        new { htmlAttributes = new { @class = "form-control", @placeholder = "Username", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-1" })
                        @Html.PasswordFor(model => model.Password,
                        new { @class = "form-control", @placeholder = "Password", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-inline">
                        <input type="submit" value="Login" class="btn btn-primary ml-75" />
                    </div>

                    <div>
                        <label class="control-label col-md-1">New User?</label>
                        @Html.ActionLink("Sign Up", "Index", "Signup", null, new { @class = "btn btn-toolbar" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>