@model FSE.Assignment20.MVC.Core.Tweet

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container">
    <h2></h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Post Tweet</h3>
        </div>

        <div class="panel-body">
            @using (Html.BeginForm("PostUpdate", "Tweet", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.FullName)
                @Html.HiddenFor(model => model.UserName)
                @Html.HiddenFor(model => model.TweetId)
                @Html.HiddenFor(model => model.Created)

                <div class="container">
                    <div class="form-group form-inline">
                        @Html.TextAreaFor(model => model.Message,
                        new { @class = "form-control col-md-4", @rows = 5, @resize = "none", @id = "areatext" })
                        <input type="submit" value="Post" class="btn btn-primary col-md-offset-0 col-md-2" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>